<tr>
  <td class="has-text-right"><%= Interact::Abuse.human_attribute_name(:abusement) %></td>
  <td><%= @abuse.abusement %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Interact::Abuse.human_attribute_name(:state) %></td>
  <td><%= @abuse.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Interact::Abuse.human_attribute_name(:note) %></td>
  <td><%= @abuse.note %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Interact::Abuse.human_attribute_name(:user) %></td>
  <td><%= @abuse.user %></td>
</tr>
