<div class="ui segment breadcrumb">
  <%= link_to 'Back', admin_abuses_path, class: 'section' %>
  <div class="divider">/</div>
  <div class="active section">Show</div>
</div>

<table class="table is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <td class="has-text-right"><%= Abuse.human_attribute_name(:abusement) %></td>
      <td><%= @abuse.abusement %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Abuse.human_attribute_name(:state) %></td>
      <td><%= @abuse.state %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Abuse.human_attribute_name(:note) %></td>
      <td><%= @abuse.note %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Abuse.human_attribute_name(:user) %></td>
      <td><%= @abuse.user %></td>
    </tr>
  </tbody>
</table>
