<ul>
  <%= image_tag comment.commenter.avatar, class: 'ui avatar image' %>
  <div class="messageText">
    <div>
      <span class="userName"><%= comment.commenter.name %></span>
      <div class="ui rating disableRating" data-rating="<%= comment.score %>" data-max-rating="5"></div>
      <span class="date"><%= comment.created_at.to_s(:date) %></span>
    </div>
    <div class="mainText">
      <%= comment.content %>
    </div>
    <div class="zan">
      <div class="zanNum">
        <%= link_to like_my_attitudes_path('Comment', comment), method: :post, remote: true do %>
          <%= image_tag comment.liked?(@current_user&.id) ? 'dapps_yes.png' : 'dapps_no.png', class: 'zanImg'%>
          <span id="comment_<%= comment.id %>_count"><%= comment.liked_count.to_i %></span>
        <% end %>
      </div>
   <!--    <div class="some-wrapping-div">
        <div class="ui custom"><%= t('more')%></div>
      </div> -->
  <!--     <div class="ui custom popup more right">
        <div class="report">举报</div>
      </div> -->
    </div>
  </div>
</ul>
