<%= search_form_with model: Comment.new do |f| %>
  <div class="fields">
    <%= f.number_field :commentable_id %>
    <%= f.submit 'Search' %>
  </div>
<% end %>

<dl>
  <dt><%= Comment.human_attribute_name(:commentable_type) %>:</dt>
  <dd>
    <%= link_to 'All', filter_params(except: [:commentable_type]), class: active_params(type: '', active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% Comment.commentable_types.each do |value| %>
      <%= link_to Comment.enum_i18n(:commentable_type, value), filter_params(commentable_type: value), class: active_params(commentable_type: value, active_class: 'ui basic blue button', item_class: 'ui basic white button') %>
    <% end %>
  </dd>
</dl>
