<th>
  <p><%= Interact::Abuse.human_attribute_name(:abusement_type) %></p>
  <p><%= Interact::Abuse.human_attribute_name(:abusement_id) %></p>
</th>
<th><%= Interact::Abuse.human_attribute_name(:state) %></th>
<th><%= Interact::Abuse.human_attribute_name(:note) %></th>
<th><%= Interact::Abuse.human_attribute_name(:user) %></th>
